html,body{
    width: 100%;
    height: 100%;
}
:root{
    --fire: #ff7402;
    --grass: #33a165;
    --steel: #00858a;
    --water: #0050ac;
    --psychic: #c90086;
    --ground: #c90086;
    --ice: #70deff;
    --flying: #5d4e75;
    --ghost: #4d5b64;
    --normal: #753845;
    --poison: #7e0058;
    --rock: #6e1a00;
    --fighting: #634136;
    --dark: #272625;
    --bug: #6e1a00;
    --dragon: #00c431;
    --electric: #bba909;
    --fairy: #d31c81;
    --unknow: #757575;
    --shadow: #29292c;
}
.dark{
    background-color:var(--dark) !important; 
}
.bug{
    background-color:var(--bug) !important; 
}
.dragon{
    background-color:var(--dragon) !important; 
}
.electric{
    background-color:var(--electric) !important; 
}
.fairy{
    background-color:var(--fairy) !important; 
}
.shadow{
    background-color:var(--shadow) !important; 
}
.unknow{
    background-color:var(--unknow) !important; 
}
.fire{
    background-color:var(--fire) !important; 
}
.grass{
    background-color:var(--grass) !important; 
}
.steel{
    background-color:var(--steel) !important; 
}
.water{
    background-color:var(--water) !important; 
}
.psychic{
    background-color:var(--psychic) !important; 
}
.ground{
    background-color:var(--ground)!important ; 
}
.ice{
    background-color:var(--ice) !important; 
}
.flying{
    background-color:var(--flying) !important; 
}
.ghost{
    background-color:var(--ghost) !important; 
}
.normal{
    background-color:var(--normal) !important; 
}
.poison{
    background-color:var(--poison) !important; 
}
.rock{
    background-color:var(--rock) !important; 
}
.fighting{
    background-color:var(--fighting) !important; 
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    border:none;
    outline:none;
}

a{
    text-decoration: none;
}


ul{
    list-style-type: none;
}
img{
    width: 100%;
}

.container{
    width:100%;
    padding: 0px 50px;
}

#app{
    background-color: rgb(46, 44, 44);
}
@media(min-width:700px){
    .container{
        padding: 0px 100px;
    }
}

@media(min-width:2000px){
    .container{
        padding: 0px 250px;
    }
}